@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-family: "Roboto", sans-serif;
}

@layer base {
  .bg-transparent {
    background: transparent;
  }
  .animate-link {
    @apply relative  scale-105 w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-green after:w-full  after:scale-x-100 after:transition-all after:duration-300  after:origin-left;
  }
  .btn {
    @apply px-3 py-2  rounded-lg w-full cursor-pointer  hover:scale-105 transition-all duration-200;
  }
}
